# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# Supercharge value_counts() Method in Pandas With Sidetable


Post Link: [Substack](https://avichawla.substack.com/p/supercharge-value_counts-method-in)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/avi-chawla_python-datascience-pandas-activity-7003310443184185344-Vd4u?utm_source=share&utm_medium=member_desktop)

In [1]:
!pip install sidetable

Requirement already satisfied: sidetable in /Users/avi/anaconda3/lib/python3.9/site-packages (0.9.1)
Requirement already satisfied: pandas>=1.0 in /Users/avi/anaconda3/lib/python3.9/site-packages (from sidetable) (1.5.0)
Requirement already satisfied: numpy>=1.20.3 in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas>=1.0->sidetable) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas>=1.0->sidetable) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/avi/anaconda3/lib/python3.9/site-packages (from pandas>=1.0->sidetable) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/avi/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=1.0->sidetable) (1.16.0)

In [4]:
import pandas as pd
import sidetable

In [5]:
df = pd.read_csv("../_Datasets/employee_dataset.csv")
df.head()

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4
2,Laura Flynn,Andrade LLC,Equities trader,North Melissafurt,Tonga,606900,Intern,0.3,3
3,Stefanie Archer,James and Sons,Retail merchandiser,Ricardomouth,San Marino,775380,Full Time,2.8,5
4,Sierra Garcia,Matthews Inc,Armed forces logistics/support/administrative ...,Whitakerbury,Nepal,944480,Full Time,4.5,4

## Value_counts

In [6]:
df.Employee_City.value_counts()

West Jamesview       120
Aliciafort           113
New Cindychester     106
Ricardomouth         106
Whiteside            104
Kristaburgh           97
Wardfort              96
New Russellton        93
Whitakerbury          87
North Melissafurt     78
Name: Employee_City, dtype: int64

## Sidetable

In [7]:
df.stb.freq(["Employee_City"], style = True)